#ankit{
    background-color: rgb(189, 222, 250);
    color: rgb(207, 175, 237);
}
#rudra{
    font-family: Arial, Helvetica, sans-serif; font-style: italic; color: rgb(129, 7, 7); 
    background-color: rgb(231, 231, 251);
}